:root {
  --shadow: #00000010;
}



.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 260px));
  grid-template-rows: repeat(4, minmax(200px, 260px));
  justify-content: center;
  gap: 20px;
}

.cardContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: blanchedalmond;
}

.cardContainer > div > img {
  display: flex;
}

.header {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 5px 5px 20px var(--shadow);
  margin-bottom: 50px;
  justify-content: space-between;
}

.Fort {
  content: url(./images/triston-dunn-rfj_wOYQkus-unsplash.jpg);
  width: 100%;
}

.Chicago {
  content: url(./images/adrian-n-Itn-olYoPAg-unsplash.jpg);
  height: 100%;
}

.Philadelphia {
  
}